.App-header {
  background-color: #333333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.Home{
	font-size: 14px;
	font-family: 'MetaPlusRoman';
	color: #FFFFFF;
	background-color: #F68B1F;
	padding: 5px 15px;
	height: 30px;
	margin-top: 25px;
	margin-left: 10px;
}

.mr-auto{
	font-size: 14px;
	font-family: MetaPlusRoman;
	color: #FFFFFF;
	padding: 5px 15px;
}

.App-carousel{
	margin: 20px 0;
	position: relative;
    min-height: 1px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: transparent;
    margin-bottom: 30px;
}

.App-carousel img{
	border-radius: 25px;   
}

.footer{
	position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: 50px;
    padding: 15px 0;
    background: #252525;
    border-color: #252525;
    font-color: #ffffff;
    font-family: Helvetica;
    font-size: 13px;
}

.Box-banner{
	margin-left: 200px;
	padding-bottom: 80px;
}

.Box-banner p{
	background-color: #F68B1F;
	margin-top: 120px;
	text-align: center;

}